<?xml version="1.0"?>
<model>
  <name>Mars Curiosity Rover</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  
  <author>
    <name>Sakshi</name>
    <email>user@example.com</email>
  </author>
  
  <description>
    NASA Mars Curiosity Rover model with textures for Gazebo simulation.
    Ready for ROS 2 integration with lidar sensor.
  </description>
</model>
